<div class="flex-container column">
  <div class='flex-container justify-center'>
    <div class='flex-container'>
      <div class="w-5-rem h-5-rem pad-around-1-rem">
        <img class="w-100-per h-100-per" src="{{provider.img}}">
      </div> 
      <div>
        <p 
          class="mar-bottom-half-rem">{{provider.name}}</p>
        <p 
          class="margin-top-0 mar-bottom-half-rem">{{provider.address}}</p>
        <p 
          class="margin-top-0 mar-bottom-half-rem">{{provider.phone}}</p>
      </div>
    </div>
    
    <div *ngIf="type === 'selected'">
      <button 
        class="remove-button"
        (click)="toggleSelect.emit(provider)">
        x
      </button>
    </div>
  </div>

  <div class="flex-container justify-center">
    <div *ngIf="type === 'unselected'" class="select-button">
      <button 
        (click)="toggleSelect.emit(provider)">
        Select This Provider
      </button>
    </div>
  </div>
</div>